<div classe="container">
    <nav class="navbar navbar-expand{-sm|-md|-lg|-xl} navbar-dark bg-secondary d-flex justify-content-start">
        <a href='/'>Go back on index</a>
        <a class="ml-2" href='{{ path('program_index') }}'>Séries</a>
        <a class="ml-2" href='{{ path('category_index') }}'>Catégories</a>
        <a class="ml-2" href='{{ path('actor_index') }}'>Acteurs</a>
    </nav>
</div>